.page-header
  %h1= t 'profile'
= simple_form_for @user, url: profile_path, method: :patch, html: {role: 'form'} do |f|
  = f.input :name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, class: 'submit'