= auto_header_tag @song
= simple_form_for [@chapter, @song] do |f|
  = f.error_notification

  .form-inputs
    = f.association :chapter
    = f.input :name
    = f.input :text, input_html: {rows: 30}

  .form-actions
    = link_to t('helpers.links.cancel'), @song.chapter.present? ? chapter_path(@song.chapter) : chapters_path, class: 'btn btn-default btn-lg'
    = submit_button f