.authform
  = form_for resource, as: resource_name, url: session_path(resource_name), html: { role: 'form'} do |f|
    %h3= t '.title'
    = devise_error_messages!
    .form-group
      - if devise_mapping.registerable?
        = link_to t('devise.registrations.new.title'), new_registration_path(resource_name), class: 'right'
      = f.label :name
      = f.text_field :login, autofocus: true, class: 'form-control'
    .form-group
      - if devise_mapping.recoverable?
        = link_to t('.forgot_password'), new_password_path(resource_name), class: 'right'
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.submit t('.submit', default: 'Sign in'), class: 'button right'
      - if devise_mapping.rememberable?
        .checkbox
          = f.check_box :remember_me
          = f.label :remember_me, t('.remember_me')
