%table.table.table-hover
  %thead
    %tr
      %th= Chapter.human_attribute_name :name
      %th= Chapter.human_attribute_name :position
      %th
  %tbody
  - @chapters.each do |chapter|
    %tr
      %td= link_to chapter.name, chapter_path(chapter)
      %td
        .btn-group.btn-group-xs
          = link_to glyph(:arrow_up), move_chapter_path(chapter, destination: :top), method: :put, remote: true, class: 'btn btn-default', title: t('helpers.links.move_to_top')
          = link_to glyph(:chevron_up), move_chapter_path(chapter, destination: :up), method: :put, remote: true, class: 'btn btn-default', title: t('helpers.links.move_to_up')
          %span.label.label-primary.btn= chapter.position
          = link_to glyph(:chevron_down), move_chapter_path(chapter, destination: :down), method: :put, remote: true, class: 'btn btn-default', title: t('helpers.links.move_to_down')
          = link_to glyph(:arrow_down), move_chapter_path(chapter, destination: :bottom), method: :put, remote: true, class: 'btn btn-default', title: t('helpers.links.move_to_bottom')
      %td.actions
        .btn-group.btn-group-xs
          = link_to glyph(:edit), edit_chapter_path(chapter), class: 'btn btn-default', title: t('helpers.links.edit')
          = link_to glyph(:trash), chapter, method: :delete, data: { confirm: t('chapters.delete_confirmation') }, class: 'btn btn-danger', title: t('helpers.links.delete')