= auto_header_tag @chapter
= simple_form_for @chapter do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :position
  .form-actions
    = link_to t('helpers.links.back'), :back, class: 'btn btn-default btn-lg'
    = link_to t('helpers.links.show'), @chapter, class: 'btn btn-default btn-lg' if @chapter.persisted?
    = submit_button f