.page-header
  %h1= @chapter.name
  = link_to t('helpers.links.back'), chapters_path, class: 'btn btn-default'
  = link_to t('helpers.links.edit'), edit_chapter_path(@chapter), class: 'btn btn-default'
  = link_to t('helpers.links.delete'), @chapter, method: :delete, data: { confirm: t('chapters.delete_confirmation') }, class: 'btn btn-danger'

%h2
  = t 'songs.index.title'
  = link_to t('songs.new.title'), new_chapter_song_path(@chapter), class: 'btn btn-success'
%table.table.table-hover
  %tbody
    - @songs.each do |song|
      %tr
        %td= link_to song.name, edit_song_path(song)
        %td.actions= link_to glyph(:trash), song, method: :delete, data: { confirm: t('helpers.links.confirm') }, class: 'btn btn-danger btn-xs', title: t('helpers.links.delete')