@font-face {
  font-family: "Title";
  font-weight: normal;
  font-style: normal;
  src: font-url('PTM75F.woff') format('woff'),
  font-url('PTM75F.ttf') format('truetype')
}

.title {
  font-family: Title;
}