@font-face {
  font-family: "Song Text";
  font-weight: normal;
  font-style: normal;
  src: font-url('PTM55F.woff') format('woff'),
  font-url('PTM55F.ttf') format('truetype')
}

#song_text {
  font-size: 16px;
  font-family: "Song Text", monospace !important;
}
