- if user_signed_in?
  = menu_item glyph(:user)+t('profile'), profile_path
  = menu_divider
  = menu_item glyph(:log_out)+t('devise.sessions.sign_out'), destroy_user_session_path, method: 'delete'
- else
  = menu_divider
  = menu_item glyph(:log_in)+t('devise.sessions.sign_in'), new_user_session_path
  -#= menu_item 'Sign up', new_user_registration_path