!!!
%html{lang: 'ru'}
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title= content_for?(:title) ? yield(:title) : 'Song Book'
    %meta{name: 'description', content: "#{content_for?(:description) ? yield(:description) : t('application_name')}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{role: 'main'}
      = render 'layouts/messages'
      .container= yield
